# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Cascoin Client
Exec=electrum %u
GenericName[en_US]=Cascoin Wallet
GenericName=Cascoin Wallet
Icon=electrum
Name[en_US]=Cascoin Electrum Wallet
Name=Cascoin Electrum Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/cascoin;x-scheme-handler/lightning;
Actions=Testnet;
Keywords=crypto;currency;CAS;Cascoin

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
